<%- include("partial/header") -%>

<div>
<h1> About</h1>
</div>
<div class="embed-responsive embed-responsive-16by9 box2">
  <video id="video" preload autoplay muted playsinline loop>
  <source src="/assest/PORTFOLIO.mp4" type="video/mp4"></source>
  </video>
</div>
 <%# <div class="box">
  <div class="content">

    <p> Hello this is my intro </p>
      <br>
      <ul>
          <li> Contact : 456789123123456</li>
          <li> email   : kela@gogo.com</li>
      </ul>
    </div>
</div> %>
<br>
<%= about%>
<%-include("partial/footer")-%>
